:root {
    --primary-color-100: #FF9F1C; /* Bright orange */
    --primary-color-200: #FFBF69; /* Light orange */
    --primary-color-300: #CB997E; /* Muted pink */
    --primary-color-400: #FFE8D6; /* Pale peach */

    --header-size-1: 2.250rem; /* H1 size */
    --header-size-2: 1.375rem; /* H2 size */

    --spacing-50: 0.5rem;
    --spacing-100: 1rem; /* Base spacing */
    --spacing-200: 1.25rem; /* Larger spacing */
    --spacing-400: 2.5rem; /* XL spacing */
    --spacing-500: 3.125rem; /* XXL spacing */
    --spacing-600: 4rem; /* XXXL spacing */

    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --font-family-main: 'Comic Neue', sans-serif; /* Font family */
}

/* Reset the HTML document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-main);
}


/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    width: 100vw;
    gap: var(--spacing-200);
    margin: var(--spacing-200);
}

header img {
    height: var(--spacing-400);
}

.header-logo {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: var(--spacing-200);
    border-radius: var(--spacing-100);
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    width: 100vw;
    font-size: var(--header-size-2);
    background-color: var(--primary-color-200);
    padding: var(--spacing-200) 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

nav ul {
    display: flex;
    justify-content: center;
    gap: var(--spacing-200); /* Space between navigation items */
}

nav li {
    list-style: none;
    color: #fff; 
    font-weight: var(--font-weight-bold);
}

nav li:hover {
    color: var(--primary-color-400);
    cursor: pointer;
    text-shadow: 0px 5px 5px var(--primary-color-100);;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    margin: var(--spacing-400) 0 ;
    width: 95vw;
    padding: var(--spacing-400);
    border-radius: var(--spacing-50);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.main-section {

    display: flex;
    align-items: end;
    background: url('https://img.freepik.com/free-photo/beautiful-model-with-long-smooth-flying-blonde-hair-isolated-dark-grey-studio-background-young-caucasian-model-with-well-kept-skin-hair-blowing-air_155003-21877.jpg') no-repeat center center; /* Combined shorthand */
    background-size:cover;
    border-radius: 8px;
    min-height: 50vh;
}
.main-section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);
    color: var(--primary-color-400);
    padding: var(--spacing-400);

}

.main-section button {
    padding: var(--spacing-100);
    border-radius: var(--spacing-400);
    background-color: var(--primary-color-200);
    border: none;
    width: 200px;
    font-size: var(--header-size-2);
}

.main-section button:hover {
    background-color: var(--primary-color-300);
    cursor: pointer;
}

.sub-sections {
    display: flex;
    flex: auto;
    gap: var(--spacing-200);
}

.sub-sections article {
    background-color: var(--primary-color-200);
    padding: var(--spacing-200);
    border-radius: 8px;
}





/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100vw;
    background-color: var(--primary-color-200);
    padding: var(--spacing-200) var(--spacing-400);
}

footer img {
    height: 5rem;
}
